<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions Page</title>
</head>
<body>
    <div id="showQuizInfo" class="dN"></div>
    {{!-- Question template --}}
    <div id="questionTemplate">
        <h1>1. Question</h1>
        <textarea></textarea>
        <select id="optionType">
            <option value="radio">one option</option>
            <option value="multiple">Multiple choice</option>
        </select>
        <p>Add Options</p>
    </div>
    <script src="./javascript/questions.js"></script>
</body>
</html>